nav{background: transparent;}
.navbar-brand{ font-weight: 700; color:rgba(255, 255, 255, 0.7 ) !important;} 
.navbar-brand:hover{ color: #fff;}
nav .nav-link{ font-weight: 700; color:rgba(255, 255, 255, 0.7 ) !important; padding: 0 15px ;}
nav .nav-link:hover{ color: #fff;}
header{ 
    padding:  8rem 0;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.hr1{ background-color: #f4623a; width: 50px; height: 2px;}
.btn-primary{ background-color: #f4623a; border: #f4623a; border-radius: 50px; padding:15px 30px; font-size: 16px;
    font-weight: 700;

}
.btn-primary:hover{
    background-color: orangered;
}
.btn-primary:active{
    background-color: orangered;
border: #f4623a;
}
#about{ background-color: #f4623a; padding: 8rem;}
.hr2{ background-color: #fff; width: 50px; height: 2px;}
.btn-primary2{ background-color: #fff; border: #fff; border-radius: 50px; padding:15px 30px;
     font-size: 16px; font-weight: 700;}
#services{
    background-color: #fff; padding: 8rem;
}    
#services i{ color: #f4623a;}
.download{
    padding:  8rem 0;

    
}
.btn-light{
      border-radius: 50px; padding:15px 30px; font-size: 16px;
    font-weight: 700; margin-top: 20px;

}
#contact{
    padding: 8rem; background-color: #fff;

}
#contact a{
    color: #f4623a;
}